.body {
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.table {

}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.tableBody{
    display: flex;
    justify-content: center;
}
