.body {
    background-color: rgba(154, 222, 225, 0.52);
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: azure;
}

.text {
}

.photo img{
    width: 200px;
    height: 200px;
}