.body {
    min-height: 70vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 80%;
    height: 100%;
}

.title {
    text-align: center;
    background-color: rgba(165, 42, 42, 0.29);
}

.skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
