.header {
    height: 70px;
    background-color: #023048;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
}

.nav {
    width: 50%;
}

.list {
    display: flex;
    justify-content: space-around;
}

.li {
    padding-right: 10px;

}