.footer {
    height: 100px;
    background-color: #023048;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    padding: 40px 0;
    text-align: center;
}

.row {
    width: 200px;
    height: 30px;
    border: 1px solid white;
    margin: 20px 0;
}