.body {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableBody{
    display: flex;
    justify-content: center;
}
