.body {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form input {
    width: 100%;
    margin-bottom: 5px;
}

.form textarea {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
}

.button {
    margin-top: 20px;
}

